@import "reset";
@import "mixins";
@import "vars";
@import "icons";

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


body {
  background-color: $white;
  font-family: $bodyFont;
  font-size: 1.4em;
}
.main {
  width: 938px;
  margin: 0 auto;
}

.cal_depart_container {
  height: 602px;
  overflow: hidden;
  .cal_depart {
    position: relative;
    background: url(../images/FPO_lowfare_depart_cal.jpg) no-repeat;
    height: 607px;
    .depart_day {
      position: absolute;
      left: 287px;
      top: 148px;
      cursor: hand;
    }
  }
}

.cal_header {
  position: relative;
}
.header_fade {
  position: absolute;
  width: 250px;
  height: 82px;
  left: 90px;
  background-color: $blue_bg;
}

.departure {
  .fade_overlay {
    position: absolute;
    background-color: $blue_selected;
    width: 100%;
    height: 100%;
  }
}


.fare_overlay {
  position: fixed;
  left: 0px;
  height: 95px;
  width: 100%;
  background-color: $white;
}
